0-1 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=solaris --out=$OUTDIR
2-3 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=solaris --out=$OUTDIR
4-5 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=solaris --out=$OUTDIR
6-7 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=boxing --out=$OUTDIR
8-9 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=boxing --out=$OUTDIR
10-11 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=boxing --out=$OUTDIR
12-13 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=space_invaders --out=$OUTDIR
14-15 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=space_invaders --out=$OUTDIR
16-17 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=space_invaders --out=$OUTDIR
18-19 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=gravitar --out=$OUTDIR
20-21 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=gravitar --out=$OUTDIR
22-23 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=gravitar --out=$OUTDIR
24-25 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=freeway --out=$OUTDIR
26-27 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=freeway --out=$OUTDIR
28-29 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=freeway --out=$OUTDIR
30-31 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=asteroids --out=$OUTDIR
32-33 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=asteroids --out=$OUTDIR
34-35 julia --threads 2 --project=$PROJECT $SCRIPT --cfg=$CFG --game=asteroids --out=$OUTDIR
