0-1 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
2-3 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
4-5 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
6-7 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
8-9 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
10-11 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
12-13 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
14-15 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
16-17 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
18-19 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
20-21 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
22-23 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
24-25 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
26-27 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
28-29 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
30-31 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
32-33 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
34-35 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
