0-2 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
3-5 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
6-8 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
9-11 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
12-14 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
15-17 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
