0 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
1 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
2 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=solaris --out=/tmpdir/p21049le/ICGP-results/results
3 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
4 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
5 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=boxing --out=/tmpdir/p21049le/ICGP-results/results
6 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
7 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
8 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=space_invaders --out=/tmpdir/p21049le/ICGP-results/results
9 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
10 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
11 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=gravitar --out=/tmpdir/p21049le/ICGP-results/results
12 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
13 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
14 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=freeway --out=/tmpdir/p21049le/ICGP-results/results
15 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=1 --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
16 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=2 --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
17 julia --threads 2 --project=/users/p21049/p21049le/IICGP.jl /users/p21049/p21049le/IICGP.jl/scripts/atari_lucie.jl --cfg=/users/p21049/p21049le/IICGP.jl/cfg/eccgp_atari_lucie.yaml --id=3 --game=asteroids --out=/tmpdir/p21049le/ICGP-results/results
